.main-header {
  padding: 1em 0em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.slider-height {
  height: 295px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-height {
    height: 295px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-height {
    height: 220px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-height {
    height: 220px;
  }
}

@media (max-width: 575px) {
  .slider-height {
    height: 220px;
  }
}

.user-account-name {
  position: relative;
  z-index: 1;
}

.user-account-name:hover > ul.user-account-submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.user-account-submenu {
  position: absolute;
  margin-left: 17px;
  left: 0;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  padding: 17px 0;
}

.user-account-submenu li {
  background: rgba(103, 133, 255, 0.8);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 0.5em 0.8em;
}

.user-account-submenu li i {
  padding-right: 0.5em;
}
