/*! CSS Used from: http://localhost:1313/css/style.css */
body {
  height: 100%;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.shop-name {
  color: #6785ff;
  font-family: "Overlock SC", cursive;
  font-size: 1.5em;
}

p {
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
  color: #727171;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
}

.nice-select {
  display: none;
}

.select2-search,
.select2-search--dropdown {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slicknav_btn {
    display: none;
  }

  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .slicknav_btn {
    display: none;
  }

  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
}

/*! CSS Used from: http://localhost:1313/assets/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}

footer,
header,
nav {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12,
.col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.text-center {
  text-align: center !important;
}

@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }
}

/*! CSS Used from: http://localhost:1313/assets/css/slicknav.css */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

.slicknav_menu {
  *zoom: 1;
}

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}

.slicknav_menu .slicknav_icon {
  float: left;
  width: 1.125em;
  height: 0.875em;
  margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_icon:before {
  background: transparent;
  width: 1.125em;
  height: 0.875em;
  display: block;
  content: "";
  position: absolute;
}

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
}

.slicknav_menu:before {
  content: " ";
  display: table;
}

.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}

.slicknav_nav {
  clear: both;
}

.slicknav_nav ul {
  display: block;
}

.slicknav_nav li {
  display: block;
}

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
  cursor: pointer;
}

.slicknav_nav .slicknav_item a {
  display: inline;
}

.slicknav_nav .slicknav_row {
  display: block;
}

.slicknav_nav a {
  display: block;
}

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #4c4c4c;
  padding: 5px;
}

.slicknav_menu * {
  box-sizing: border-box;
}

.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
}

.slicknav_menu .slicknav_icon-bar {
  background-color: #dca73a !important;
}

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  background-color: none;
}

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
}

.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
  margin: 2px 5px;
}

.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}

.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff;
}

.slicknav_nav a:hover {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #ccc;
  color: #222;
}

.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}

.mobile_menu {
  position: absolute;
  right: 10px;
  width: 96%;
  z-index: 99;
}

.slicknav_menu .slicknav_menutxt {
  display: none;
}

.slicknav_menu {
  background: transparent;
  margin-top: 10px;
}

.slicknav_menu .slicknav_icon-bar {
  background-color: #ffffff;
  height: 3px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 30px;
  position: relative;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -35px;
  position: relative;
  z-index: 99;
}

.slicknav_menu {
  margin: 0;
  padding: 0;
}

.slicknav_icon-bar {
  background: #fff !important;
}

.slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 11px;
  padding: 19px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.slicknav_nav a:hover {
  background: #f79960 none repeat scroll 0 0;
  border-radius: 0;
  color: #ffffff;
}

.slicknav_nav a {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
}

.slicknav_nav .slicknav_arrow {
  float: right;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row:hover .slicknav_arrow {
  border-radius: 0;
  background-color: #f79960;
  background-color: transparent;
  color: #000;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: -15px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: -23px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
}

.slicknav_menu .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  right: 5px;
  top: -5px;
  padding-bottom: 3px;
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #dca73a;
}

/*! CSS Used from: http://localhost:1313/assets/css/animated-headline.css */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/*! CSS Used from: http://localhost:1313/assets/css/fontawesome-all.min.css */
.fa,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-shopping-bag:before {
  content: "\f290";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-sign-out-alt:before {
  content: "\f2f5";
}

.fa-user-circle:before {
  content: "\f2bd";
}

.fa,
.fas {
  font-family: Font Awesome\5 Free;
}

.fa,
.fas {
  font-weight: 900;
}

/*! CSS Used from: http://localhost:1313/css/font-awesome.min.css */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-shopping-bag:before {
  content: "\f290";
}

.fa-user-circle:before {
  content: "\f2bd";
}

/*! CSS Used from: http://localhost:1313/assets/css/style.css */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6785ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #335cff;
}

body {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

p {
  font-family: "Muli", sans-serif;
  color: #10285d;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: #635c5c;
}

a:hover {
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: none;
}

a {
  color: #fff;
  outline: medium none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.header-btn1 {
  color: #6785ff;
  padding: 32px 41px;
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header-btn1 {
    padding: 32px 17px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-btn1 {
    padding: 32px 9px;
  }
}

.header-btn1:hover {
  color: #6785ff;
}

.footer-padding {
  padding-top: 120px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-padding {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-padding {
    padding-top: 80px;
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .footer-padding {
    padding-top: 80px;
    padding-bottom: 20px;
  }
}

.section-bg2 {
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}

@media (max-width: 575px) {
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-header {
    padding: 17px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-header {
    padding: 17px 0px;
  }
}

@media (max-width: 575px) {
  .main-header {
    padding: 17px 0px;
  }
}

.main-header .header-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.main-header .header-left .logo {
  padding-left: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-header .header-left .logo {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-header .header-left .logo {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-header .header-left .logo {
    padding-left: 15px;
  }
}

@media (max-width: 575px) {
  .main-header .header-left .logo {
    padding-left: 15px;
  }
}

.main-header .header-left .main-menu {
  padding-left: 40px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-header .header-left .main-menu {
    padding-left: 15px;
  }
}

.main-header .header-left .main-menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.main-header .header-left .main-menu ul li a {
  font-family: "Muli", sans-serif;
  color: #0d2d3e;
  font-weight: 700;
  padding: 33px 21px;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-header .header-left .main-menu ul li a {
    padding: 33px 9px !important;
  }
}

.main-header .header-left .main-menu ul li:hover > a {
  color: #6785ff;
}

.main-header .header-left .main-menu ul li:last-child a {
  padding-right: 0;
}

.main-header .header-left .main-menu ul ul.submenu {
  position: absolute;
  width: 170px;
  background: rgba(103, 133, 255, 0.8);
  left: 0;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-header .header-left .main-menu ul ul.submenu > li {
  margin-left: 7px;
  display: block;
}

.main-header .header-left .main-menu ul ul.submenu > li > a {
  padding: 6px 10px !important;
  font-size: 15px;
  color: #fdfdfd;
}

.main-header .header-left .main-menu ul ul.submenu > li > a:hover {
  background: none;
  padding-left: 13px !important;
}

.main-header .header-left .main-menu ul > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.mobile_menu {
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 99;
}

.mobile_menu .slicknav_menu {
  background: transparent;
  margin-top: 0px !important;
}

.mobile_menu .slicknav_menu .slicknav_btn {
  top: -30px;
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
  background-color: #6785ff !important;
}

.mobile_menu .slicknav_menu .slicknav_nav {
  margin-top: 9px !important;
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #6785ff;
}

.mobile_menu .slicknav_menu .slicknav_nav a {
  font-size: 15px;
  padding: 7px 10px;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
  padding: 0 !important;
}

.footer-bottom-area .footer-border {
  padding-top: 70px;
  padding-bottom: 1px;
}

.footer-bottom-area .footer-copy-right p {
  color: #1d2547;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 12px i;
  margin-bottom-color: #6785ff;
}

.footer-bottom-area .footer-copy-right p a {
  color: #6785ff;
}

.number a {
  font-size: 26px !important;
  color: #6785ff !important;
  margin-bottom: 23px;
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .number a {
    font-size: 19px !important;
  }
}

/*! CSS Used from: http://localhost:1313/css/shop.css */
.main-header {
  padding: 1em 0em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-account-name {
  position: relative;
  z-index: 1;
}

.user-account-name:hover > ul.user-account-submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.user-account-submenu {
  position: absolute;
  margin-left: 17px;
  left: 0;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  padding: 17px 0;
}

.user-account-submenu li {
  background: rgba(103, 133, 255, 0.8);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 0.5em 0.8em;
}

.user-account-submenu li i {
  padding-right: 0.5em;
}

/*! CSS Used fontfaces */
@font-face {
  font-family: "Overlock SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overlocksc/v9/1cX3aUHKGZrstGAY8nwVzEGJocWG1-oGmZE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Overlock SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overlocksc/v9/1cX3aUHKGZrstGAY8nwVzEGHocWG1-oG.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "FontAwesome";
  src: url("http://localhost:1313/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("http://localhost:1313/fonts/fontawesome-webfont.eot#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("http://localhost:1313/fonts/fontawesome-webfont.woff2?v=4.7.0")
      format("woff2"),
    url("http://localhost:1313/fonts/fontawesome-webfont.woff?v=4.7.0")
      format("woff"),
    url("http://localhost:1313/fonts/fontawesome-webfont.ttf?v=4.7.0")
      format("truetype"),
    url("http://localhost:1313/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afT3GLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTzGLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afT3GLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTzGLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afT3GLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTzGLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afT3GLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTzGLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afT3GLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTzGLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afT3GLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTzGLQjUwkQ1OQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQjUwkQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
